@font-face {
    font-family: "My Riad Pro";
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
    font-weight: 400;
}
@font-face {
    font-family: "My Riad Pro";
    src: url(../fonts/MYRIADPRO-BOLD.OTF);
    font-weight: 700;
}
@font-face {
    font-family: "My Riad Pro";
    src: url(../fonts/MYRIADPRO-SEMIBOLD.OTF);
    font-weight: 600;
}