@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import 'fonts';

body {
    font-family: "My Riad Pro";
}
.btn-secondary{
    background: #fff;
    color: #000;
    &.active{
        background: linear-gradient(45deg, #59be86, #339860) !important;
    }
    &.focus{
        background: linear-gradient(45deg, #59be86, #339860) !important;
    }
}
.rounded{
    border-radius: 40px !important;
    border: none;
    background-color: #fff;
    outline: none;
}
.form-check{
    padding: 0;
}

.arrowIcon{
    width: 10px;
    height: 15px;
    position: relative;
    left: 45%;
}

.carousel-indicators{ 
    position: absolute;
    top: -15px;
    left: 85%;
    bottom: -80px;
    flex-direction: column;
    li{
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        border-radius: 50%;
        height: 10px;
        margin: -5px 3px;
        text-indent: -999px;
        cursor: pointer;
        background-clip: padding-box;
        background-color: #fff;
        transition: opacity 0.6s ease;
        &.active{
            opacity: 1;
            background-color: #3cb371;
        }
    }
}